#loading
  img(src="/assets/loading.gif")
.full.off-canvas-wrap(data-offcanvas="" ng-controller="projects#index")
  .full.inner-wrap
    a#menu-toggle.left-off-canvas-toggle
      span.border-menu
    aside.full.left-off-canvas-menu
      #filters
        img#logo(src="/assets/logo.png")

        .filter-header Work
        .filter(ng-click='filterList("all")' ng-class="{active: selected == 'all'}") All
        .filter(ng-repeat="tag in tags" ng-click="filterList(tag.id, $index)" ng-class="{active: $index == selected}") {{ tag.name}}
    #isotope-container.full.small-12.columns
      .project.medium-4.columns(ng-repeat="project in projects" ng-click="selectItem(project)" class="{{project.tag_ids.join(' ')}}" )
          .overlay
            .project_title {{ project.title }}
          img(ng-src='assets/{{  project.thumbnail }}')
    a.exit-off-canvas



script.
  $(document).ready(function(){
    setTimeout(function(){
      $('#isotope-container').imagesLoaded(function() {
          var grid = $('#isotope-container');
          grid.isotope({
            itemSelector: '.project'
          });
          $('#loading').css("padding-top", "0px");
          grid.css({opacity: 1});
          $('#menu-toggle').css({ left: 0});

      });
    }, 2000);
  });
      
   