.row(ng-controller="projects#show")
  .large-12.columns
      #project-show {{ project.content }}
#skrim
#project-image(ng-controller="projects#show" style='background:url("/assets/{{project.thumbnail}}") no-repeat center center;') &nbsp;
