/ #content.row
/   .filter.12.columns
/     .item.all.active All
/     - @tags.each do |tag|
/       .item class="#{tag.name.parameterize}" = tag.name

/   #loading.text-center
/     img src="http://jimpunk.net/Loading/wp-content/uploads/loading20.gif"

/   #isotope-container.large-12.columns.filterable-grid.fadeable
/     / div ng-repeat="project in projects"
/     - @projects.each do |project|
/       .shuffle__sizer.project.medium-6.columns
/         a href='#{project_path(project.id)}'
/           .overlay
/             .project_title = project.title
/           = image_tag project.thumbnail


#loading <img src="/assets/loading.gif"/>
.full.off-canvas-wrap data-offcanvas=""
  .full.inner-wrap
    a#menu-toggle.left-off-canvas-toggle
      span.border-menu
    aside.full.left-off-canvas-menu
      #filters
        img#logo src="/assets/logo.png"
        .filter-group
          .filter-header Work
          #all.filter All
          - @tags.each do |tag|
            .filter = content_tag( :span, tag.name, id: tag.id)
        .filter-group
          .filter-header About
          .filter
            a href='http://failsafedesign.com/resume.pdf' download="resume.pdf" Resume
          .filter
            a href='//www.linkedin.com/profile/view?id=4657236' Linkedin
    #isotope-container.full.small-12.columns
      - @projects.each do |project|
        .project.medium-4.columns class="#{project.tag_ids.join(' ')}"
            a href="/projects/#{project.id}"
              .overlay
                .project_title = project.title
              img src="assets/#{  project.thumbnail }"
    a.exit-off-canvas



javascript:
  $('document').ready(function(){
    $('#isotope-container').imagesLoaded(function() {
      var grid = $('#isotope-container');
      grid.isotope({
        itemSelector: '.project'
      });
      grid.css({opacity: 1});
      $('#menu-toggle').css({ left: 0});
      $('#loading').css({opactiy: 0})
    });
    $(".filter").on("click", function(e){
      var grid = $('#isotope-container');
      e.target.id === 'all' ? grid.isotope({ filter: '*'}) : grid.isotope({filter: '.'+ e.target.id})
    });
  });
