@import "foundation/functions";
@import "compass";
$primary: #38f;
$bg-color: #333;
$muted: #656;
$shadow: 0 1px 2px $bg-color;
$blur: 10px;

html, body, #content{
  height: 100%;
}

#loading{
  width:100%;
  height:100%;
  position: absolute;
  text-align: center;
  padding-top:200px;
  transition: all .5s ease;
}
body{
  background-color: #f1f1f1;
  font-family: 'proxima-nova';
}

.menu-button{
  position: absolute;
  top:20px;
  left:20px;
  background-color: #333;
  padding:20px;
  z-index: 999;
}

.full{
  min-height: 100%;
  height:100%;
}
aside{
  padding-right:1.5em;
  text-align: right;
  color: $muted;
  min-height: 100%;
  #filters{
    position: relative;
    float:right;
    width:160px;
    top:5em;

    #logo{
      margin-bottom: 37px;
    }

    .filter-header{
      text-transform: uppercase;
      font-size:12px;
      border-bottom: 1px solid $muted;
      margin-bottom: 20px;
    }

    .filter{
      color: #957;
      display: block;
      line-height: 22px;
    }

    .filter:hover{
      color: #fff;

    }

    .active {
      color:#fff;
      background-color: #957;
    }
  }
}

#menu-toggle{
  position: absolute;
  left:-2.5em;
  top:20px;
  height:2.5em;
  width: 2.5em;
  background-color: #333;
  z-index: 999;
  font-size:1.25em;
  padding:.75em;
  transition: all .5s ease;

  .border-menu{
    position: relative;
}

  .border-menu:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.75em;
    height: 0.125em;
    border-top: 0.375em double #fff;
    border-bottom: 0.125em solid #fff;
    box-sizing: content-box;
  }
}

.move-right .exit-off-canvas{
  // background:rgba(56, 43, 53  , 0.35);
  background: none;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
}

.left-off-canvas-menu{
  background-color: #333;
  @include background-image(linear-gradient(left top,  #382b35 0%,#232323 75%));

}

.header{
  border-top: 3px solid $primary;
  background-color: $bg-color;
  background-image: url('new_york.jpg');
  line-height: 60px;
  height:400px;
  position: relative;

  a{
    color: #fff;
    text-transform: uppercase;
  }
}

#isotope-container{
  opacity: 0;
  transition: all .5s ease;
}


#project-show{
  color: #fff;
  padding-top: 100px;

  .video{
    height:600px;
    margin-bottom: 20px;
    position: relative;
    transition: all .25s ease;
    top: 100px;
    opacity: 0;

    iframe{
      width:100%;
      height:100%;
    }
  }

  .photo{
    margin-bottom: 20px;
    position: relative;
    transition: all .25s ease;
    top: 100px;
    opacity: 0;
  }

  #blurred-background{
    opacity: 0;
    transition: all .25s ease;
  }



  #project-image{
    min-height: 100%;
    min-width: 100%;
    background-size: cover !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index:-2;
    -webkit-filter: blur($blur)
  }

  #skrim{
    z-index: -1;
    content: "";
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.7);
  }

  #close{
    width:50px;
    height:50px;
    background-color: #333;
    background: url("/assets/closex.png") no-repeat center center;
    position: fixed;
    top: -50px;
    right: 10px;
    z-index: 3;
    transition: all .25s ease;
    cursor: pointer;
  }

  #close:hover{
    -webkit-transform:rotate(90deg);
  }
}

.project {
  // margin-bottom: 10px;
  // width:32%;
  float:left;
  .overlay{
    display:none;
    position: relative;
    background-color: rgba($primary, .75);
    position: absolute;
    height: 100%;
    width: 100%;

    .project_title, .project_tags{
      position: relative;
      top:50%;
      color:#fff;
      text-align: center;
      text-shadow: $shadow;
    }

    .project_title{
      font-weight: 900;
      text-transform: uppercase;
      font-size:16px;
    }
  }
}


.project:hover .overlay{
    display:block;
  }





.projectitle{
  background-color: $primary;
  margin-top: 60px;
  height:120px;
  margin-bottom: 40px;
  color: #fff;

  h2{
    color: #fff;
    font-family: "proxima-nova";
    font-weight: 900;
    text-transform: uppercase;
    font-size: 42px;
    margin-top: 30px;
    margin-bottom: -10px;
    text-shadow: 0 1px 2px $bg-color;
  }
}


.svg { 
  fill: #fff; 
  width: 40px;
  height: 100%;
}  


.head{
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'proxima-nova';
  font-weight: 900;
}
.subhead{
  text-transform: uppercase;
  font-size:12px;
  margin-bottom: 0;

}

.proxima{
  font-family: 'proxima-nova';
}

.fadeable{
  opacity: 0;
  transition: all .25s ease !important;
}